SpotifyTracks.xcodeproj/project.xcworkspace/xcuserdata/alexgordillo.xcuserdatad/UserInterfaceState.xcuserstate
SpotifyTracks.xcodeproj/xcuserdata/alexgordillo.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist